.modal--window {
    color: white;
    font-family: Roboto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 20px;
    text-align: justify;
    line-height: 150%;
}

