<section class="modal--window">
    <h1>Instrucciones del juego</h1>
    <p>
        Alejo Wordle es un juego de palabras construido en Angular.
        Consiste en adivinar una palabra de 6 letras,
        para lograrlo tienes hasta 6 intentos, pero el juego te da pistas:
        Escribe letra a letra una palabra cualquiera, si la letra coincide
        con alguna letra de la palabra correcta, ella se teñira de amarillo,
        mejor aún, si la letra esta en la posicion correcta, se teñira de verde.
        Sin embargo, si te has equivocado de letra, simplemente será gris.
        ¡Ok, es comento de jugar!
    </p>
    <button mat-button [mat-dialog-close] cdkFocusInitial>¡Play!</button>
</section>