.container--game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-title {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.keyboard {
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.options--user {
    position: absolute;
    width: 100%;
    max-width: 1280px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.repositorio {
    color: white;
    text-decoration: none;
}

.instructions {
    color: white;
    cursor: pointer;
}

.github--icon {
    color: white;
}

@media screen and (min-width: 600px) {
    .keyboard {
        width: auto;
    }
}