<div class="letters-container">
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[0][0]">{{ this.arrayLetters[0][0] }}</div>
        <div [ngClass]="this.arrayStyles[0][1]">{{ this.arrayLetters[0][1] }}</div>
        <div [ngClass]="this.arrayStyles[0][2]">{{ this.arrayLetters[0][2] }}</div>
        <div [ngClass]="this.arrayStyles[0][3]">{{ this.arrayLetters[0][3] }}</div>
        <div [ngClass]="this.arrayStyles[0][4]">{{ this.arrayLetters[0][4] }}</div>
    </div>
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[1][0]">{{ this.arrayLetters[1][0] }}</div>
        <div [ngClass]="this.arrayStyles[1][1]">{{ this.arrayLetters[1][1] }}</div>
        <div [ngClass]="this.arrayStyles[1][2]">{{ this.arrayLetters[1][2] }}</div>
        <div [ngClass]="this.arrayStyles[1][3]">{{ this.arrayLetters[1][3] }}</div>
        <div [ngClass]="this.arrayStyles[1][4]">{{ this.arrayLetters[1][4] }}</div>
    </div>
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[2][0]">{{ this.arrayLetters[2][0] }}</div>
        <div [ngClass]="this.arrayStyles[2][1]">{{ this.arrayLetters[2][1] }}</div>
        <div [ngClass]="this.arrayStyles[2][2]">{{ this.arrayLetters[2][2] }}</div>
        <div [ngClass]="this.arrayStyles[2][3]">{{ this.arrayLetters[2][3] }}</div>
        <div [ngClass]="this.arrayStyles[2][4]">{{ this.arrayLetters[2][4] }}</div>
    </div>
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[3][0]">{{ this.arrayLetters[3][0] }}</div>
        <div [ngClass]="this.arrayStyles[3][1]">{{ this.arrayLetters[3][1] }}</div>
        <div [ngClass]="this.arrayStyles[3][2]">{{ this.arrayLetters[3][2] }}</div>
        <div [ngClass]="this.arrayStyles[3][3]">{{ this.arrayLetters[3][3] }}</div>
        <div [ngClass]="this.arrayStyles[3][4]">{{ this.arrayLetters[3][4] }}</div>
    </div>
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[4][0]">{{ this.arrayLetters[4][0] }}</div>
        <div [ngClass]="this.arrayStyles[4][1]">{{ this.arrayLetters[4][1] }}</div>
        <div [ngClass]="this.arrayStyles[4][2]">{{ this.arrayLetters[4][2] }}</div>
        <div [ngClass]="this.arrayStyles[4][3]">{{ this.arrayLetters[4][3] }}</div>
        <div [ngClass]="this.arrayStyles[4][4]">{{ this.arrayLetters[4][4] }}</div>
    </div>
    <div class="letter-row">
        <div [ngClass]="this.arrayStyles[5][0]">{{ this.arrayLetters[5][0] }}</div>
        <div [ngClass]="this.arrayStyles[5][1]">{{ this.arrayLetters[5][1] }}</div>
        <div [ngClass]="this.arrayStyles[5][2]">{{ this.arrayLetters[5][2] }}</div>
        <div [ngClass]="this.arrayStyles[5][3]">{{ this.arrayLetters[5][3] }}</div>
        <div [ngClass]="this.arrayStyles[5][4]">{{ this.arrayLetters[5][4] }}</div>
    </div>
</div>
<div class="message-container">
    <p class="message-text"> {{ this.message }} </p>
</div>