<div class="keyboard--content">
    <div class="keys--content">
        <div class="row">
            <span class="key" (click)="onKeyDown($event)">Q</span>
            <span class="key" (click)="onKeyDown($event)">W</span>
            <span class="key" (click)="onKeyDown($event)">E</span>
            <span class="key" (click)="onKeyDown($event)">R</span>
            <span class="key" (click)="onKeyDown($event)">T</span>
            <span class="key" (click)="onKeyDown($event)">Y</span>
            <span class="key" (click)="onKeyDown($event)">U</span>
            <span class="key" (click)="onKeyDown($event)">I</span>
            <span class="key" (click)="onKeyDown($event)">O</span>
            <span class="key" (click)="onKeyDown($event)">P</span>
        </div>
        <div class="row">
            <span class="key" (click)="onKeyDown($event)">A</span>
            <span class="key" (click)="onKeyDown($event)">S</span>
            <span class="key" (click)="onKeyDown($event)">D</span>
            <span class="key" (click)="onKeyDown($event)">F</span>
            <span class="key" (click)="onKeyDown($event)">G</span>
            <span class="key" (click)="onKeyDown($event)">H</span>
            <span class="key" (click)="onKeyDown($event)">J</span>
            <span class="key" (click)="onKeyDown($event)">K</span>
            <span class="key" (click)="onKeyDown($event)">L</span>
            <span class="key" (click)="onKeyDown($event)">Ñ</span>
        </div>
        <div class="row">
            <span class="key" (click)="onKeyDown($event)">Z</span>
            <span class="key" (click)="onKeyDown($event)">X</span>
            <span class="key" (click)="onKeyDown($event)">C</span>
            <span class="key" (click)="onKeyDown($event)">V</span>
            <span class="key" (click)="onKeyDown($event)">B</span>
            <span class="key" (click)="onKeyDown($event)">N</span>
            <span class="key" (click)="onKeyDown($event)">M</span>
            <span class="key backspace" (click)="onKeyDown($event)">Delete</span>
        </div>
        <div class="row">
            <span class="key space" (click)="onKeyDown($event)">Enter</span>
        </div>
    </div>
</div>